.footer{
    width: 100vw;
    height: 4rem;
    background: linear-gradient(to bottom, #D1958A, #4C5059);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
}